<div class="d-block d-lg-flex col-12 mt-5">
    <h1 class="col-12 col-lg-4 fw-bold text-muted"><b class="typedGroups" data-typed-items="Grupos"></b></h1>
    <h2 class="d-block d-lg-flex justify-content-center align-items-end col-12 col-lg-4 fw-bold text-muted text-center">{{turn}}</h2>
    <div class="d-inline-flex p-1 justify-content-end align-items-center col-12 col-lg-4">
        <button class="btn btn-primary mr-4" (click)="changeTurn('Matutino')">Matutino</button>
        <button class="btn btn-success" (click)="changeTurn('Vespertino')">Vespertino</button>
    </div>
</div>
<hr>
<!--****************** MATUTINO ************************-->
<div class="mt-4 mb-3" *ngIf="turn == 'Matutino'">
    
    <div id="gen1" class="w-100 shadow p-3 bg-light text-muted border rounded my-groups mb-2" data-aos="fade-up" data-aos-duration="800">

        <h5> <b>Grado 1</b> </h5>
        <div id="gen1-first-row" class="d-block d-sm-flex flex-row justify-content-between mt-3">
            <a [routerLink]="['/grupo','60334bd3d41ef31f113ee269']" class="my-a">
            <div id="gen1-g1" class="p-4 rounded bg-light my-box">  
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 1
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','60334c6cd41ef31f113ee26a']" class="my-a">
            <div id="gen1-g2" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 2
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','60334caad41ef31f113ee26b']" class="my-a">
            <div id="gen1-g3" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 3
                </div>
            </div>
            </a>
        </div>
        <hr>
        <div id="gen1-second-row" class="d-block d-sm-flex flex-row justify-content-between mt-4">
            <a [routerLink]="['/grupo','60334cb4d41ef31f113ee26c']" class="my-a">
            <div id="gen1-g4" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 4
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','60334cc2d41ef31f113ee26d']" class="my-a">
            <div id="gen1-g5" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 5
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','60334cd3d41ef31f113ee26e']" class="my-a">
            <div id="gen1-g6" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 6
                </div>
            </div>
            </a>
        </div>

    </div>

    <div id="gen2" class="w-100 shadow p-3 bg-light text-muted border rounded my-groups mb-2" data-aos="fade-up" data-aos-duration="800">

        <h5> <b>Grado 2</b> </h5>
        <div id="gen2-first-row" class="d-block d-sm-flex flex-row justify-content-between mt-3">
            <a [routerLink]="['/grupo','60334ce2d41ef31f113ee26f']" class="my-a">
            <div id="gen2-g1" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 1
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','60334ceed41ef31f113ee271']" class="my-a">
            <div id="gen2-g2" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 2
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','60334cf8d41ef31f113ee272']" class="my-a">
            <div id="gen2-g3" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 3
                </div>
            </div>
            </a>
        </div>
        <hr>
        <div id="gen2-second-row" class="d-block d-sm-flex flex-row justify-content-between mt-4">
            <a [routerLink]="['/grupo','60334d05d41ef31f113ee273']" class="my-a">
            <div id="gen2-g4" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 4
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','60334d15d41ef31f113ee274']" class="my-a">
            <div id="gen2-g5" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 5
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','60334d1ed41ef31f113ee275']" class="my-a">
            <div id="gen2-g6" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 6
                </div>
            </div>
            </a>
        </div>

    </div>

    <div id="gen3" class="w-100 shadow p-3 bg-light text-muted border rounded my-groups" data-aos="fade-up" data-aos-duration="800">

        <h5> <b>Grado 3</b> </h5>
        <div id="gen3-first-row" class="d-block d-sm-flex flex-row justify-content-between mt-3">
            <a [routerLink]="['/grupo','60334d50d41ef31f113ee276']" class="my-a">
            <div id="gen3-g1" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 1
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','60334d57d41ef31f113ee277']" class="my-a">
            <div id="gen3-g2" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 2
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','60334d61d41ef31f113ee278']" class="my-a">
            <div id="gen3-g3" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 3
                </div>
            </div>
            </a>
        </div>
        <hr>
        <div id="gen3-second-row" class="d-block d-sm-flex flex-row justify-content-between mt-4">
            <a [routerLink]="['/grupo','60334d6ad41ef31f113ee27a']" class="my-a">
            <div id="gen3-g4" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 4
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','60334d76d41ef31f113ee27b']" class="my-a">
            <div id="gen3-g5" class="p-4 rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 5
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','60334d82d41ef31f113ee27c']" class="my-a">
            <div id="gen3-g6" class="p-4 my-shadow rounded bg-light my-box">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 6
                </div>
            </div>
            </a>
        </div>

    </div>
    <div class="mt-5"></div>
    <hr>
  
</div>
<!--****************** VESPERTINO ************************-->
<div class="mt-4 mb-3" *ngIf="turn == 'Vespertino'">
    <div id="gen1" class="w-100 shadow p-3 bg-light text-muted border rounded my-groups mb-2" data-aos="fade-up" data-aos-duration="800">

        <h5> <b>Grado 1</b> </h5>
        <div id="gen1-first-row" class="d-block d-sm-flex flex-row justify-content-between mt-3">
            <a [routerLink]="['/grupo','6034cf5e99ca6c37d2de91d6']" class="my-a">
            <div id="gen1-g1" class="p-4 rounded bg-light my-box-v">  
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 1
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','6034cfb799ca6c37d2de91d7']" class="my-a">
            <div id="gen1-g2" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 2
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','6034cfca99ca6c37d2de91d8']" class="my-a">
            <div id="gen1-g3" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 3
                </div>
            </div>
            </a>
        </div>
        <hr>
        <div id="gen1-second-row" class="d-block d-sm-flex flex-row justify-content-between mt-4">
            <a [routerLink]="['/grupo','6034cfd299ca6c37d2de91d9']" class="my-a">
            <div id="gen1-g4" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 4
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','6034cfd999ca6c37d2de91da']" class="my-a">
            <div id="gen1-g5" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 5
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','6034cfe199ca6c37d2de91db']" class="my-a">
            <div id="gen1-g6" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 6
                </div>
            </div>
            </a>
        </div>

    </div>

    <div id="gen2" class="w-100 shadow p-3 bg-light text-muted border rounded my-groups mb-2" data-aos="fade-up" data-aos-duration="800">

        <h5> <b>Grado 2</b> </h5>
        <div id="gen2-first-row" class="d-block d-sm-flex flex-row justify-content-between mt-3">
            <a [routerLink]="['/grupo','6034cff599ca6c37d2de91dc']" class="my-a">
            <div id="gen2-g1" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 1
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','6034d00299ca6c37d2de91dd']" class="my-a">
            <div id="gen2-g2" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 2
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','6034d00a99ca6c37d2de91de']" class="my-a">
            <div id="gen2-g3" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 3
                </div>
            </div>
            </a>
        </div>
        <hr>
        <div id="gen2-second-row" class="d-block d-sm-flex flex-row justify-content-between mt-4">
            <a [routerLink]="['/grupo','6034d02199ca6c37d2de91e0']" class="my-a">
            <div id="gen2-g4" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 4
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','6034d02899ca6c37d2de91e1']" class="my-a">
            <div id="gen2-g5" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 5
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','6034d03f99ca6c37d2de91e2']" class="my-a">
            <div id="gen2-g6" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 6
                </div>
            </div>
            </a>
        </div>

    </div>

    <div id="gen3" class="w-100 shadow p-3 bg-light text-muted border rounded my-groups" data-aos="fade-up" data-aos-duration="800">

        <h5> <b>Grado 3</b> </h5>
        <div id="gen3-first-row" class="d-block d-sm-flex flex-row justify-content-between mt-3">
            <a [routerLink]="['/grupo','6034d04f99ca6c37d2de91e3']" class="my-a">
            <div id="gen3-g1" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 1
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','6034d05899ca6c37d2de91e4']" class="my-a">
            <div id="gen3-g2" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 2
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','6034d06099ca6c37d2de91e5']" class="my-a">
            <div id="gen3-g3" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 3
                </div>
            </div>
            </a>
        </div>
        <hr>
        <div id="gen3-second-row" class="d-block d-sm-flex flex-row justify-content-between mt-4">
            <a [routerLink]="['/grupo','6034d06799ca6c37d2de91e6']" class="my-a">
            <div id="gen3-g4" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 4
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','6034d06e99ca6c37d2de91e7']" class="my-a">
            <div id="gen3-g5" class="p-4 rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 5
                </div>
            </div>
            </a>
            <a [routerLink]="['/grupo','6034d07699ca6c37d2de91e8']" class="my-a">
            <div id="gen3-g6" class="p-4 my-shadow rounded bg-light my-box-v">
                <div class="d-flex justify-content-center mb-2">
                    <i class="fas fa-table my-li"></i>
                </div>
                <div class="d-flex justify-content-center">
                    Grupo 6
                </div>
            </div>
            </a>
        </div>

    </div>
    <div class="mt-5"></div>
    <hr>
  
</div>